<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>
<body>
    <h1>{{message}}</h1>
    <h2>Free technician is: {{free_tech_id}}</h2> 
    <br>
    <form action="/admins/free-technicains" method=post enctype=multipart/form-data>
        <input type=submit value=free-technicains>
    </form>
    <br>
    to Change the password
    <form action="/admins/add-user" method=post enctype=multipart/form-data>
        ID<input type="text" name="id">
        Old Password<input type="password" name="oldpassword">
        New Password<input type="password" name="newpassword">
        <input type=submit value=Send>
    </form>
    <br>
    to report tech about non-working device
    <form action="/admins/to-tech" method=post enctype=multipart/form-data>
        Free technician ID<input type="text" name="free_tech_id">
        Device DSN<input type="text" name="device_DSN">
        <input type=submit value=Send>
    </form>
    <br>
    to report patient with updates 
    <form action="/admins/inform-patient" method=post enctype=multipart/form-data>
        Patient ID<input type="text" name="p_id">
        Message<input type="text" name="msg">
        <input type=submit value=Send>
    </form>
    <!-- <form action="/admin/inform-patient" method=post enctype=multipart/form-data>
        Doctor ID<input type="text" name="d_id">
        <input type=submit value=Send>
    </form> -->
</body>
</html>