<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
    crossorigin="anonymous">
  <title>A+ Hospital</title>
  <link rel="shourtcut icon" href="{{ url_for('static',filename='pics/A+.png') }}">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/doctors.css') }}">
</head>

<body>

  <header>
    <nav class="navbar  navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"> <img id="Aplus" src="{{ url_for('static',filename='pics/A+.png') }}"
            alt="logo"> A+ Hospital </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link " aria-current="page" href="#calender">Calender <i
                  class="fas fa-calendar-week"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#patients">Patients <i class="fas fa-user-injured"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#info">Info <i class="fas fa-info-circle"></i></a>
            </li>
            <li class="nav-item">
              <a href="/logout" class="btn-danger btn">Log-out<i class="fas fa-sign-out-alt"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <main>

    <section id="calender" class="container" data-aos="fade-in">
      <h1>Welcome Doctor</h1>
      <h2>Here is a calender with all the important Patient visits you have</h2>
      <div class="row">
        <div class="col-12">

        </div>
      </div>
    </section>

    <section id="patients" class="container" data-aos="fade-in">
      <h1>The Patients you are overseeing</h1>
      {% if patients|length != 0 %}
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Phone</th>
            <th scope="col">Room Number</th>
            <th scope="col">E-mail</th>
            <th scope="col">Scans</th>
          </tr>
        </thead>
        <tbody>
          {% for patient in patients %}
          <tr>
            <th scope="row">1</th>
            <td>{{ patient['first_name'] }}</td>
            <td>{{ patient['last_name'] }}</td>
            <td>{{ patient['phone'] }}</td>
            <td>{{ patient['room_number'] }}</td>
            <td><a href="{{ patient['email'] }}">Send Mail</a></td>
            <td><a href="doctors/scans?patientId={{ patient['id'] }}" >Patient’s Scans</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <h3>you don't have patients doctor </h3>
      {% endif %}

    </section>
    <section id="info" class="container" data-aos="fade-in">
      <h1>Information Update</h1>
      <form action="/doctors/updateInfo" method="POST" class="container">
        <div class="row">
          <div class="mb-3">
            <label for="firstName" class="form-label">first Name</label>
            <input type="text" value="{{ doctor_data['firstName'] }}" name="firstName" class="form-control" required>
          </div>
          <div class="mb-3">
            <label for="lastName" class="form-label">last Name</label>
            <input type="text" value="{{ doctor_data['lastname'] }}" name="lastName" class="form-control" required>
          </div>
        </div>
        <div class="row">
          <div class="mb-3">
            <label for="phone" class="form-label">Phone</label>
            <input type="number" value="{{ doctor_data['phone'] }}" name="phone" class="form-control" id="phone"
              required>
          </div>
        </div>
        <div class="row">
          <div class="mb-3">
            <label for="department" class="form-label">Department</label>
            <input type="text" class="form-control" value="{{ doctor_data['department'] }}" name="department" required>
          </div>
        </div>
        <div class="row">
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" value="{{ doctor_data['email'] }}" name="email" required>
          </div>
        </div>
        <div class="row">
        </div>
        <button type="submit" class="btn btn-primary">Update info</button>
      </form>
      <form action="/doctors/updatePassword" method="POST" class="container">
        <br>
        <div class="row">
          <div class="mb-3">
            <label for="oldPassword" class="form-label">Old Password</label>
            <input type="password" class="form-control" name="oldPassword" required>
          </div>
        </div>
        <div class="row">
          <div class="mb-3">
            <label for="newPassword" class="form-label">New Password</label>
            <input type="password" name="newPassword" class="form-control" required>
          </div>
        </div>
        <div class="row">
        </div>
        <button type="submit" class="btn btn-primary">Update Password</button>
      </form>
      <div class="container">
        <br>
        {% with messages = get_flashed_messages() %}
        <label class=flashes>{{ messages[0] }}</label>
        {% endwith %}
      </div>
    </section>
  </main>




  <!-- A library called AOS to animate section while scrolling-->
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init({
      offset: 400,
      duration: 1000
    });
  </script>
</body>

</html>