<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action="/login" method="POST">
        <label>id</label>
        <input name="id" type="text" placeholder="id">
        <label>password</label>
        <input name="password" type="password" placeholder="password">
        <button type="submit">login</button>
        <label>{{ error }}</label>
    </form>
</body>
</html>